@import "tailwindcss";

:root {
  /* --background: #fffefd;
  --foreground: #171717; */

  /* Homepage color palette */
  --color-primary: #589581;
  /* hero heading */
  --color-secondary: #AFD639;
  --container: 98.75rem;

  /* Line heights */
}

/* -----------------------------------------
   Tailwind Theme Tokens (Tailwind v4)
----------------------------------------- */

@theme inline {
  /* COLORS */
  --container: 1254px;
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);

  /* FONTS (from next/font variables) */
  --font-poppins: var(--font-poppins);
  --font-prompt: var(--font-prompt);
  --font-montserrat: var(--font-montserrat);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .template {
    width: 100%;
    max-width: var(--container);
    margin-inline: auto;
    padding-inline: 1rem;
    /* mobile default */
  }

  .font-poppins {
    font-family: var(--font-poppins), serif;
  }

  .font-prompt {
    font-family: var(--font-prompt), serif;
  }

  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }

  /* sm (≥640px) */
  @media (min-width: 640px) {
    .template {
      padding-inline: 0.1rem;
    }
  }

  /* md (≥768px) */
  @media (min-width: 768px) {
    .template {
      padding-inline: 0.5rem;
    }
  }

  /* lg (≥1024px) */
  @media (min-width: 1024px) {
    .template {
      padding-inline: 0.875rem;
    }
  }

  /* xl (≥1280px) */
  @media (min-width: 1280px) {
    .template {
      padding-inline: 1.5rem;
    }
  }

  /* 2xl (≥1536px) */
  @media (min-width: 1536px) {
    .template {
      padding-inline: 2.5rem;
    }
  }
.zoomin {
  animation: zoomin 20s ease-in-out forwards;
  overflow: hidden;
}
 @keyframes zoomin {
  0%   { background-size: 100% auto; }
  50% { background-size: 110% auto; }
  100% { background-size: 100% auto; }
}

@-webkit-keyframes zoomin {
  0%   { background-size: 100% auto; }
  50% { background-size: 110% auto; }
  100% { background-size: 100% auto; }
}
}

html{scroll-behavior: smooth;}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  z-index: 10;
}

/* --------------------------------------------- navbar hover --------------------------------------------- */
/* Circle */
nav.circle ul li a {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

nav.circle ul li a:after {
  display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}

nav.circle ul li a:hover:after {
  -webkit-animation: circle 1.5s ease-in forwards;
}

/* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #4f3f3f;
    border-radius: 100%;
  }

  100% {
    background: #28746b;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}